body{
    background-color: $color-background-grey;
    .portfolio-grid{
        display: flex;
        flex-wrap: wrap;
    }
    img{
        display: block;
        max-width: 100%;
        border-radius: $standard-border-radius;
    }
    button{
        background-color: $color-white;
        border-radius: $standard-border-radius;
        width: 80px;
        height: 35px;
        border: none;
        cursor: pointer;
    }
    .img-relative{
        position: relative;
        display: inline-block;
        margin: 10px 10px 0 10px;
        border-radius: $standard-border-radius;
        max-width: 100%;
        overflow: hidden;
        &:hover img{
            transform: scale(1.2);
        }
    }
    .btn-overlay{
        position: absolute;
        top: 0;
        left: 0;
        border-radius: $standard-border-radius;
        width: 100%;
        height: 100%;
        background-color: $overlay-background-color;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.5s;
    }
    .btn-overlay:hover{
        opacity: 1; 
    }
    @media (min-width: 768px){
        .portfolio-grid{
            .img-relative{        
                max-width: 47%;
            }
        }
    }
    @media (min-width: 1024px){
        .portfolio-grid{
            .img-relative{
                max-width: 30%;
            }
        }
    }
}