body{
    background-color: $color-background-grey;
    .testimonial{
        width: 300px;
        box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        margin: 20px 20px 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient($color-white 65%, $color-blue-purple 35%);
    }
    .testimonial-text{
        padding: 20px;
        color: $color-text-grey;
        font-family: $font-family-arial;
    }
    .img-testimonial{
        width: 100px;
        border-radius: 50%;
        border: 5px solid $color-white;
    }
    h5{
        margin-top: 12px;
        margin-bottom: 0;
        color: $color-white;
        text-transform: uppercase;
        font-family: $font-family-arial;
        letter-spacing: 2px;
    }
    .website-text{
        margin-top: 5px;
        margin-bottom: 30px;
        color: $color-text-light-grey;
        font-family: $font-family-arial;
        font-size: 14px;
    }
}